[Desktop Entry]
Type=Application
Version=1.0
Name=Install Chlorine Linux
GenericName=System Installer
Comment=Install the Chlorine Linux operating system to your computer
Exec=sudo calamares
Icon=/usr/share/chlorine-branding/logo.svg
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
X-AppStream-Ignore=true
